{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}

    {% if collector.gitData %}
        <div class="sf-toolbar-block">
            <div class="sf-toolbar-icon">
                <a href="#">
                    <img width="0" height="28" style="width:0px;padding-top:0px;padding-bottom:0px;" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                    <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.branch }}</span>
                <span class="sf-toolbar-status sf-toolbar-status{%
                if collector.timeCommitIntervalMinutes <= 30%}-green{% elseif collector.timeCommitIntervalMinutes > 60 %}-red{% endif
                %}">
                    {% if (collector.timeCommitIntervalMinutes) > 60*24*30 %}
                        {# more than one month : run away #}
                        {%  set month = collector.timeCommitIntervalMinutes//(60*24*30) %}
                        +{{ month }}month{% if month>1 %}s{%  endif  %}
                    {% elseif (collector.timeCommitIntervalMinutes) > 60*24 %}
                        {# more than one day #}
                        +{{ collector.timeCommitIntervalMinutes//(60*24) }}d
                    {% elseif (collector.timeCommitIntervalMinutes) > 60 %}
                        {# more than one hour #}
                        +{{ collector.timeCommitIntervalMinutes//60 }}h
                    {% else %}
                        {# less than one hour #}
                        {{ collector.timeCommitIntervalMinutes }}m{{ collector.timeCommitIntervalSeconds }}s
                    {% endif %}
                </span>
                </a>
            </div>
            <div class="sf-toolbar-info" style="max-width:300px">
                {% if collector.commit %}
                    <div class="sf-toolbar-info-piece">
                        {% if collector.commiturl %}
                            <a href="{{ collector.commiturl }}{{ collector.commit }}" target="_blank">{{ collector.commit }}</a>
                        {% else %}
                            {{ collector.commit }}
                        {% endif %}
                    </div>
                    {% if collector.merge %}
                        <div class="sf-toolbar-info-piece">
                            <b>Merge</b> <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.merge }}</span>
                        </div>
                    {% endif %}

                    <div class="sf-toolbar-info-piece">
                        <b>{{ collector.author }}</b>
                    </div>

                    {% if collector.email %}
                        <div class="sf-toolbar-info-piece">
                            <a href="mailto:{{ collector.email }}">{{ collector.email }}</a>
                        </div>
                    {% endif %}
                    {% if collector.date %}
                        <div class="sf-toolbar-info-piece">
                            <b>{{ collector.date }}</b>
                        </div>
                    {% endif %}
                    {% if collector.message %}
                        <div class="sf-toolbar-info-piece">
                            <div style="white-space:normal">
                                {{ collector.message }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block head %}

{% endblock %}

{% block menu %}

{% endblock %}

{% block panel %}

{% endblock %}